@import (reference) '~@app-style/color';

.module-top-navigation {
  position: relative;
  height: 56px;

  .logo {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: @color-theme;
    font-weight: bold;
    transform: translate(-50%, -50%);
    margin-left: 20%;
  }

  .link {
    color: @color-black-bright;
    &:hover {
      color: @color-black;
    }
  }

  a {
    text-decoration: none;
  }

  ul {
    margin-top: 18px;
    float: right;
    list-style: none;
    margin-right: 20%;
  }

  li {
    float: left;
    margin-left: 10px;
    font-size: 15px;
  }
}