@import (reference) '~@app-style/color';

.module-main-banner {
  position: relative;
  background: #5FB563;
  height: 169px;

  .content {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


    h1 {
      font-size: 48px;
      text-align: center;
      margin-bottom: 5px;
    }

    p {
      font-size: 24px;
    }
  }


}