a {
  color: #5CB85C;
  text-decoration: none;
}

.article-preview .article-meta {
  margin: 0 0 1rem 0;
}

.article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}

.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.article-meta .info .author {
  display: block;
  font-weight: 500 !important;
}

.article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.ion-heart {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.ion-heart:before {
  content: "\f141";
  margin-right: 3px;
}

.btn-primary {
  color: #fff;
  background-color: #5CB85C;
  border-color: #5CB85C;
}

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-outline-primary {
  color: #5CB85C;
  background-image: none;
  background-color: transparent;
  border-color: #5CB85C;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #5CB85C;
  border-color: #5CB85C;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  color: #fff;
  background-color: #5CB85C;
  border-color: #5CB85C;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.open > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #5CB85C;
  border-color: #5CB85C;
}

.btn-outline-primary:active:hover, .btn-outline-primary:active:focus, .btn-outline-primary:active.focus, .btn-outline-primary.active:hover, .btn-outline-primary.active:focus, .btn-outline-primary.active.focus,
.open > .btn-outline-primary.dropdown-toggle:hover,
.open > .btn-outline-primary.dropdown-toggle:focus,
.open > .btn-outline-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #2d672d;
}

.btn-outline-primary.disabled:focus, .btn-outline-primary.disabled.focus, .btn-outline-primary:disabled:focus, .btn-outline-primary:disabled.focus {
  border-color: #a3d7a3;
}

.btn-outline-primary.disabled:hover, .btn-outline-primary:disabled:hover {
  border-color: #a3d7a3;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn.focus {
  text-decoration: none;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}